:root{
  font-family: 'Advent Pro', sans-serif;
}

.properties{
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.propertiesLinks{
  position: relative;
  transition: 0.5s ease-in-out;
  color: white;
}
.propertiesLinks:hover{
  color: black;
  transition: 0.5s ease-in-out;
}

.propertiesLinks::before {
  background: #5D536B;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.propertiesLinks:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


.exitLink{
  color: white;
  position: relative;
  transition: 0.5s ease-in-out;
}
.exitLink:hover{
  color: white;
  transition: 0.5s ease-in-out;
}

.exitLink::before {
  background: #761616;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}
.exitLink:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.exitLink:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


.mySquare {
  position: fixed;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mySquareAdding {
  position: fixed;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 24rem;
  height: 23rem;
  object-fit: cover ;
}

.icon{
  object-fit: cover;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 5%;
  left: 90%;
}

.centerLogin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:35rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
}
.centerRegister{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:40rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.header{
  position: absolute;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active{
  background-color: #5D536B;
  color: white;
}
.imgInicio{
  background-image: url('/public/corchos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  height: 100%;
  width: 100%;
}
.imgInicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.fondoLogin {
  background-image: url('/public/vinedo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(70%) blur(3px);
}
.registerBg {
  background-image: url('/public/mendoza-montanias.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 0;
  filter: brightness(70%) blur(3px);
}
.allWines {
  background-image: url('/public/cava.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 0;
  filter: brightness(70%) blur(3px);
}

.top-ever {
  position: relative;
  z-index: 1;
  width: fit-content;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* ! Zona MediaQuery !*/
/** Media Query MAX-WIDTH **/
@media (max-width: 1366px) {
  .header{
    position: fixed;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1366px) {
  .mySquare {
  position: fixed;
  height: 20rem;
  width: 20rem;
  top: 65%;
  left: 60%;
  padding: 3rem;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}
@media (max-width: 1366px) {
  .mySquareAdding {
  position: fixed;
  height: 30rem;
  width: 20rem;
  top: 65%;
  left: 60%;
  padding: 3rem;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}

@media (max-width: 1440px) {
  .icon{
  object-fit: cover;
  border-radius: 100%;
  width: 8rem;
  position: absolute;
  top: 7%;
  left: 75%;
}
}

/*? Zona MediaQuery ?*/
/** Media Query MIN-WIDTH **/


@media (min-width: 1px) {
  .header{
    position: fixed;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}


.input-required{
  color: red;
  font-family: fantasy;
  font-size: .8rem;
}


.imgHome{
background-image: url('/public/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 0;
  filter: brightness(70%) blur(3px);
}


.addWine {
  background-image: url('/public/addWine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 0;
    filter: brightness(70%) blur(3px);
}
